@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Een extern lettertype inladen van Google: https://fonts.google.com */

/* De body van het HTML document een standaard stijl geven
Als font-family gebruik je dus de naam van het ingeladen lettertype (font)
*/
body {
    background: #24df54;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;;
}

/* Alle div elementen die een direct "child" zijn van de div met id="dashboard" */
#dashboard > div {
    background-color: #24df54;
    padding: 10px 10px;
    color: #ffffff;
    /*border: 1px solid black;*/
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* Alle elementen met de class = "item" */
.item {
    background-color: #24df54;
    background-color: #24df54;
    padding: 5px 10px;
    color: #ffffff;
    border: 1px solid #24df54;
    font-size: 20px;
    font-weight: bold;
    
}

.header img {
    max-width: 10%;
    height: auto;
    padding-right: 100%;
    padding-top: 0.4%;
}